body {
	padding-top: 50px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
.navbar {
	padding-top: 20px;
}
.androidpaintfix {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0, 0, 0);
}